*{
    padding:0;
    margin:0;
    font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
    color:#333333;
}

.container{
    margin:0 auto;
    max-width:900px;
}

header{
    padding-top:20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
}

.head{
    display:flex;
    justify-content: space-between;
    padding-bottom:5px;
    padding-left: 15px;
}

.head a{
    text-decoration: none;
}

.aicon{
    background-image:url("img/service3.jpg");
    background-size: 65px;
}

.twitter,.instagram{
    width:25px;
    padding:0 10px;
}

.head-img{
    width:100%;
    margin-top: 150px;
}

main{
    padding-bottom:30px;
}

h1{
    font-size:40px;
    text-align:center;
    padding:50px 0;
    font-weight:normal;
}

.center{
    text-align:center;
}

.ser-0{
    display: flex;
    justify-content: space-around;
}

.ser-left{
    width: 50%;
}

.ser-left img{
    width: 100%;
}

.ser-light{
    width: 50%;
    margin-top: 150px;
}

.ser-0 a{
    color:black;
    text-decoration: none;
    display:inline-block;
    padding:15px 100px;
    margin: 30px 50px;
    border: 2px solid black;
    font-size:14px;
}

.ser-0 a:hover{
    color:orangered;
    opacity: 0.7;
    transition:1s;
}

.ser-1{
    display:flex;
    justify-content: space-around;
}

.ser-2 img{
    width:100px;
    padding:20px 0;
}

.ser-2{
    width:40%;
}

p{
    font-size:15px;
}

.work {
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
}

.work a{
    width: 30%;
}

.work img{
    width: 100%;
    margin-bottom:50px;
    box-shadow:5px 5px 5px gray;
}

footer{
    height:80px;
    line-height:80px;
    border-top:1px dashed gray;
}

footer p{
    font-size:12px;
    text-align: center;
}
